#nav{
  background-color: #CF6B54;
}

#nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav li{
  float: left;
}

#nav li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

#nav li a:hover {
  background-color: #be5727;
}
